a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #9d53c3;
}

body {
  font-family: "Cutive Mono", monospace;
  font-size: 14px;
}

footer {
  font-size: 10px;
  left: -38px;
  position: relative;
  top: 75px;
}

.container {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(148, 241, 246) 0%,
    rgb(148, 189, 246) 100.7%
  );
  border: 1px black solid;
  border-radius: 10px;
  height: fit-content;
  margin: 40px auto;
  max-width: 600px;
  padding: 40px;
}

@media (max-width: 576px) {
  .container {
    padding-bottom: 40px;
  }

  footer {
    top: 75px;
  }
}
