li {
  list-style: none;
}

ul {
  padding: 0px;
}

canvas {
  position: relative;
  right: 70px;
  top: -40px;
}

.conditions {
  position: relative;
  right: -50px;
  top: -130px;
}

.current-location {
  font-family: "Hubballi", cursive;
  font-size: 40px;
  letter-spacing: 1px;
  padding-top: 20px;
  text-align: left;
}

.current-temperature {
  font-family: "Hubballi", cursive;
  font-size: 100px;
  position: relative;
  text-align: center;
  top: -15px;
}

.today {
  font-size: 14px;
  padding: 0px;
  position: relative;
  text-align: center;
  top: 20px;
}

@media (max-width: 576px) {
  .CurrentWeatherInfo .today {
    height: 270px;
  }
}
