/*.className="CurrentWeatherInfo*/
.CurrentWeatherInfo button {
  background-color: transparent;
  border: none;
  padding: 0px;
}

.CurrentWeatherInfo button:hover {
  color: #9d53c3;
  cursor: pointer;
}

.CurrentWeatherInfo canvas {
  left: 150px;
  position: relative;
  top: 0px;
}

.CurrentWeatherInfo li {
  list-style: none;
}

.CurrentWeatherInfo ul {
  padding: 0px;
}

.CurrentWeatherInfo .unit-switch {
  font-size: 16px;
  font-weight: bolder;
  position: relative;
  top: -40px;
}

.CurrentWeatherInfo .unit-switch .active {
  color: #9d53c3;
  font-size: 24px;
  font-weight: bold;
}

.CurrentWeatherInfo .conditions {
  left: -20px;
  position: relative;
  text-align: center;
  top: 0px;
  width: fit-content;
}

.CurrentWeatherInfo .current-location {
  font-family: "Hubballi", cursive;
  font-size: 40px;
  letter-spacing: 1px;
  padding-top: 20px;
  text-align: left;
}

.CurrentWeatherInfo .current-temperature {
  font-family: "Hubballi", cursive;
  font-size: 100px;
  text-align: center;
}

.CurrentWeatherInfo .today {
  font-size: 14px;
  padding: 0px;
  position: relative;
  text-align: center;
  top: 20px;
}

.CurrentWeatherInfo .weather-details {
  position: relative;
  top: -15px;
}

/*.className="Weather*/
.Weather form {
  text-align: left;
}

.Weather .location-icon {
  font-size: 20px;
  padding-right: 5px;
}

.Weather .location-icon:hover {
  color: #9d53c3;
  cursor: pointer;
}

.Weather .search-button {
  background: linear-gradient(
    109.6deg,
    rgb(61, 237, 253) 44.2%,
    rgb(3, 136, 238) 95.6%
  );
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  padding: 5px;
}

.Weather .search-button:hover {
  background: linear-gradient(
    33.2deg,
    rgb(157, 147, 247) 30.2%,
    rgb(117, 176, 247) 61.4%
  );
  transition: all 1s ease-in-out;
}

.Weather .search-field {
  background: transparent;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 12px;
  margin-right: 5px;
  padding: 5px;
}

.Weather .search-field:hover {
  background: white;
}

@media (max-width: 576px) {
  /*.className="CurrentWeatherInfo*/
  .CurrentWeatherInfo .unit-switch {
    font-size: 14px;
  }

  .CurrentWeatherInfo .unit-switch .active {
    font-size: 20px;
  }

  .CurrentWeatherInfo canvas {
    left: 40px;
  }

  /*.className="Weather*/
  .Weather .location-icon {
    padding-right: 5px;
  }

  .Weather .search-button {
    font-size: 10px;
    margin-right: 3px;
  }

  .Weather .search-field {
    font-size: 10px;
    margin-right: 3px;
    padding-right: 0;
  }
}
